--find-links https://data.pyg.org/whl/torch-2.5.1+cu124.html
torch==2.5.1
torch_scatter
torchaudio==2.5.1
torchprofile==0.0.4
torchvision==0.20.1
numpy==1.26.4
sapien==3.0.0b1
scikit-learn==1.6.0
scipy==1.14.1
h5py==3.12.1
grpcio==1.68.1
gymnasium==0.29.1
open3d==0.18.0
opencv-python==4.10.0.84
PyYAML
omegaconf==2.3.0
tyro==0.9.2
tqdm==4.67.1
tensorboard==2.18.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.2.2
transform3d==0.0.4
transforms3d==0.4.2
trimesh==4.5.3
pillow
pyquaternion==0.9.9
wandb
# -e git+https://github.com/mastee7/ManiSkill.git#egg=mani-skill