sphinx==6.2.1
sphinx-autobuild
pydata_sphinx_theme
# For spelling
sphinxcontrib.spelling
# Type hints support
sphinx-autodoc-typehints
# Copy button for code snippets
sphinx_copybutton
# Markdown parser
myst-parser
sphinx-subfigure
sphinxcontrib-video
sphinx-togglebutton
sphinx_design
